.MuiDataGrid-virtualScrollerContent, .css-16mfp94-MuiTablePagination-root,.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon,.css-de9k3v-MuiDataGrid-selectedRowCount,.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
    color: white !important;
    font-family: "yekanmed";
}
.css-60ds9y-MuiDataGrid-root{
    font-family: "yekanmed" !important;
}